<div class="question">
  <h2>Questão 4</h2>
  <p>
    Dado o valor de faturamento mensal de uma distribuidora detalhado por estado:
  </p>
  <pre>
SP – R$67.836,43
RJ – R$36.678,66
MG – R$29.229,88
ES – R$27.165,48
Outros – R$19.849,53
  </pre>
  <p>Escreva um programa que calcule o percentual de representação de cada estado no valor total mensal.</p>
  <table class="faturamento-table">
    <thead>
    <tr>
      <th>Estado</th>
      <th>Faturamento (R$)</th>
      <th>Ações</th>
    </tr>
    </thead>

    <tbody>
      @for (item of dados; track item.estado) {
        <tr>
          <td>{{ item.estado }}</td>
          <td>{{ item.valor}}</td>
          <button (click)="mostrarDetalhes(item)" class="btn-detalhes">Detalhes</button>
        </tr>
      }
    </tbody>
  </table>
</div>
