<div class="question">
  <h2>Questão 5</h2>
  <p>
    Escreva um programa que inverta os caracteres de uma string.
  </p>
  <strong>IMPORTANTE:</strong>
  <ul>
    <li>Essa string pode ser informada através de qualquer entrada de sua preferência ou pode ser previamente definida no código.</li>
    <li>Evite usar funções prontas, como, por exemplo, reverse.</li>
  </ul>

  <!-- Card com input e botão -->
  <div class="string-inverter">
    <input
      type="text"
      [(ngModel)]="texto"
      placeholder="Digite uma string"
      class="input-string"
    />
    <button (click)="inverterString()" class="btn-inverter">Inverter</button>
  </div>
</div>
