.layout {
  display: flex;
}

app-sidebar {
  flex: 0 0 250px;
}

router-outlet {
  flex: 1;
  padding: 1rem;
}
.main-container {
  height: 100vh;
}

.content {
  padding: 20px;
  margin-left: auto;
  max-width: 900px;
}
